/* / start contact pages / */
.fables-contact-form {
    margin-bottom: 25px;
}
#map {
 width: 100%;
 height: 420px;
 }
.fables-contact-social-links{
    justify-content: center;
}
.fables-contact-block-border { 
    min-height: 155px; 
}
.fables-rounded{
    border-radius: 10px;
}
.fables-contact-icon { 
    margin-top: -25px; 
}
/* .fables-contact-caption { 
    background-image: url(../images/contact-caption-back.jpg); 
} */
.fables-rounded-btn:hover {
    color: #fff;
}

.fables-single-gallery-pg{
    font-size: 14px;
    line-height: 18px;
    padding: 11px 25px;
}
.fables-single-gallery-pg:hover{
    color: #fff;
}
.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: url(../images/header.jpg) top left no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--tertiary);
}
@keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    animation-name: slideInDown;
  }